/* Formatações gerais */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
	background: rgb(4,5,20);
}






/* Formatações texto */

#caixa {
	width: 78%;
	height: 446px;
	margin: 0 auto;
	background-color: rgba(15,14,40, 1);
	margin-top: 90px;
	border-radius: 7px;
	display: flex;
}

#caixa #texto {
	width: 50%;
	border-radius: 7px 0 0 7px;
	color: #fff;
}

#caixa #texto #caixa-texto {
	width: 75%;
	margin: 70px auto;
}

#caixa #texto #caixa-texto h1 {
	padding-right: 4px;
	font-size: 2.4em;
}

#caixa #texto #caixa-texto p {
	width: 84%;
	color: #ccc;
	letter-spacing: 0.05em;
	line-height: 25px;
	font-size: 0.85em;
	padding-top: 20px;
	text-align: left;
}

#flex-container {
	display: flex;
	font-size: 0.9em;
	flex-direction: ;
	justify-content: space-between;
	width: 84%;
}

.info {
	margin-top: 65px;
	padding-right: 5px;
}

#flex-container .info h2 {
	font-size: 1.5em;
}









/* Formatações imagem */

#caixa #imagem {
	float: right;
	width: 50%;
	border-radius: 0 7px 7px 0;
}

#caixa #imagem img {
	border-radius: 0 7px 7px 0;
	position: absolute;
}

#filtro {
	height: 446px;
	width: 100%;
	background: rgba(90, 20, 130, 0.7);
	position: relative;
	padding-right: 8px;
	border-radius: 0 7px 7px 0;
}






